.card {
  background-color: #fff;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 0 0 auto;
  width: 200px; /* largura padrão para telas grandes */
  transition: transform 0.2s; /* para hover */
}

.card:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .card {
    width: 150px; /* reduz a largura em telas pequenas */
  }
}
